@import 'main.scss';
@import '../styles/libs/resources.scss'; 
$linear-dark-1: linear-gradient(344.38deg, rgba(0, 0, 0, 0.6) 12.66%, rgba(0, 0, 0, 0.74) 89.61%);
$linear-dark-2: linear-gradient(180deg, rgba(0, 0, 0, 0.99) 0%, rgba(0, 0, 0, 0) 100%);
$linear-dark-3:linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.5025) 100%);
.dark-mode{
    background-image: url('../assets/background/background_dark.svg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in 0.6s;

    #dark_mode{
        display: block;
    }
    #light_mode{
        display: none!important;
    }

    #close_games{
        display: none;
        margin-top: 0.5rem;
          font-size: 2.5rem;
          color: #FD0808;
              &:hover{
                  cursor: pointer;
                  
              }
      }
      section.titre{

        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin-top: 2rem;
          
          h1 {
            position: relative;
            font-family: 'Exo';
            font-size: 5em;
            margin: 0;
            transform: skew(-15deg);
            letter-spacing: 0.03em;
            
            &::after {
              content: '';
              position: absolute;
              top: -0.1em;
              right: 0.05em;
              width: 0.4em;
              height: 0.4em;
              background: 
                radial-gradient(white 3%, rgba(white, 0.3) 15%, rgba(white, 0.05) 60%, transparent 80%),
                radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%,
                radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%;
              background-repeat: no-repeat;
            }
            
            span:first-child {
              display: block;
              text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black,  0 0 5em #165ff3;
              -webkit-text-stroke: 0.06em rgba(black, 0.5);
            }
            
            span:last-child {
              position: absolute;
              left: 0;
              top: 0;
              background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #ff61af 75%);
              -webkit-text-stroke: 0.01em #94a0b9;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
          
          h2 {
            font-family: 'Mr Dafoe';
            margin: 0;
            font-size: 3.5em;
            margin-top: -0.6em;
            color: white;
            text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
            transform: rotate(-1deg);
          }
          
    
    }
        .task_bar{
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.42) 0%, rgba(41, 41, 41, 0.97) 100%);
                color: white;
            }
        .topnav{
                background: $linear-dark-1;
                color: $color-1;
                border: $color-2;
                
                #logo{
                    background-image: url(../assets/img/logo-dark.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 50px;
                    height: 50px;
                    margin-left: 50px;
                    box-shadow: inset 3px -2px 4px 2px rgba(160, 158, 158, 0.25);
                    border-radius: 50px;
                    cursor: pointer;
                }
                #btn{
                            color: $color-1;
                            margin-left: 200px;
                            padding: 5px 5px 5px 5px;
                            left: 127px;
                            top: 20px;
                            box-shadow: inset 1px -2px 2px rgba(0, 0, 0, 0.15), inset -1px 2px 2px rgba(0, 0, 0, 0.15);
                            border: 1px solid #3a3939;
                            box-sizing: border-box;
                            border-radius: 120px;
                            background: none; 
                            cursor: pointer;      
                        }
                            button:hover {
                               
                                box-shadow: inset 3px -4px 4px rgba(255, 255, 255, 0.25), inset -3px 4px 4px rgba(247, 247, 247, 0.25);
                            }
            }
    div #about-me{
        background:linear-gradient(180deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.893) 100%); 
        color: $color-1;
    }
     .bottomNav{
       nav{
        background:$linear-dark-3;
        border: 1px solid black;
            span{
                color: $color-1;
            }
            p{
                
                margin-bottom: 7px;
                font-family: $font-1;
                background:$color-2;
                color: $color-1;
                text-align: center;
                border-radius: 25px;
                padding: 5px 5px 5px 5px;
            }
            img{
               filter: brightness(90%); 
            }
            
            #line{
                background: $color-1;
            }
       }
    } 
    .modal_projets{
 
        .modal_projets--content{
            color: white;
            border: black solid 1px;
            background: linear-gradient(179.94deg, rgba(0, 0, 0, 0.91) 0.05%, rgba(0, 0, 0, 0.92) 99.95%);
                p{
                    background-color: black;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
        }
    }
    .modal_details--content{
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.72) 100%);
        border: 1px solid #000000;
        box-sizing: border-box;
        backdrop-filter: blur(7px);
        display: flex;
            .icons {
                    img{
                        justify-content: center;
                        border: 1px solid #000000;
                        box-sizing: border-box;
                        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.713548) 33.75%, rgba(0, 0, 0, 0.58) 49.48%, rgba(0, 0, 0, 0.69) 100%);
                        box-shadow: 0px 4px 4px rgba(158, 158, 158, 0.25);

                    }
                            p{
                                color: white;
                                background: linear-gradient(90deg, #000000 3.8%, rgba(0, 0, 0, 0.69) 94.57%);
                                filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));

                            }
                        }
                    p:hover{
    
                            cursor: pointer;
                            -ms-transform: scale(1.1); /* IE 9 */
                            -webkit-transform: scale(1.1); /* Safari 3-8 */
                            transform: scale(1.1);
                            font-weight: Bold;
                            box-shadow: 0px 4px 4px rgba(158, 158, 158, 0.25);
    
                    }
                    
            }
    .details-projets{
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.41) 0%, rgba(254, 254, 254, 0) 100%);
                color: white;
                    span{
                        display: flex;
                        flex-direction: column;
                        
                            img{
                                padding: 2rem 2rem 2rem 2rem;
                                filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
    
                            }
                    }
            }
    .modal_contact{
        color: white;
        background: linear-gradient(180deg, rgba(5, 5, 5, 0.747) 0%, #303030 100%);

            label{
                color: white;
            }
            
    }
.games{
    color: white;
    img{
        background:$linear-dark-3;
        border:black 1px solid;
        filter: contrast(90%);
    }
    p{
        background: $linear-dark-1;
    }
   
}
.socials{
    color: white;
    img{
        background:$linear-dark-3;
        border:black 1px solid;
        filter: contrast(90%);
    }
    p{
        background: $linear-dark-1;
    }
}

.modal_design{
    .modal_design--content{
        color: white;
        background: linear-gradient(180deg, rgba(5, 5, 5, 0.747) 0%, #303030 100%)!important;
        border: 1px solid #000000;
    }
}

    }
@media only screen and (min-device-width : 768px) and (max-device-width :1300px) {
    .dark-mode{
        background-image: url('../assets/background/background_dark.svg');
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        transition: ease-in 0.6s;
        .topnav{
            background: $linear-dark-1;
            color: $color-1;
            border: $color-2;
            h2{
                font-family: $font-1;
                font-weight: 500;
                font-size: 1.2rem;
            }
            div{
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            #logo{
                background-image: url(../assets/img/logo-dark.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 50px;
                height: 50px;
                padding: 5px 5px 5px 5px;
                margin-left: 5px;
                box-shadow: inset 3px -2px 4px 2px rgba(160, 158, 158, 0.25);
                border-radius: 50px;
                cursor: pointer;
            }
            #btn{
                        color: $color-1;
                        margin-left: 50px;
                        padding: 1px 1px 1px 1px;
                        top: 20px;
                        box-shadow: inset 1px -2px 2px rgba(0, 0, 0, 0.15), inset -1px 2px 2px rgba(0, 0, 0, 0.15);
                        border: 1px solid #3a3939;
                        border-radius: 10px;
            }
                                          
            div#digital-clock__time{
                font-family: 'Digital-7 Mono', sans-serif;
                font-size: 1.4rem; 
                font-weight: bold;
                margin-right: 20px;
            }   
                #digital-clock__date--day{
                    margin-left: 10px;
                }
                #switch{
                    margin-left: 5px;
                }
        }
div #about-me{
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.893) 100%); 
    color: $color-1;
}
 .bottomNav{
   nav{
    background:$linear-dark-3;
    border: 1px solid black;
        span{
            color: $color-1;
        }
        p{
            font-family: $font-1;
            background:$color-2;
            color: $color-1;
            text-align: center;
            border-radius: 25px;
            padding: 5px 5px 5px 5px;
            margin-left: 0px;
            margin-bottom: 7px;
            font-family: $font-1;
            font-size:1.2rem;

        }
        img{
            filter: contrast(90%);
            width: 80px;
            height: auto;
        }
        
   }
} 
    }

}
@media only screen and (min-device-width : 320px) and (max-device-width : 899px) {

    .dark-mode{
        background-image: url('../assets/background/background_dark.svg');
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        transition: ease-in 0.6s;
            .task_bar{
                    background: linear-gradient(180deg, rgb(0, 0, 0) 100%, rgb(24, 24, 24) 100%);
                    color: white;
                }
            .topnav{
                    background: $linear-dark-1;
                    color: $color-1;
                    border: $color-2;
                    h2{
                        font-family: $font-1;
                        font-weight: 500;
                        font-size: 0.6rem;
                        
                    }
                    div{
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                    }
                    #dark_mode{
                        display: block;
                        font-size: 0.7rem!important;
                    }
                    #light_mode{
                        display: none!important;
                    }
                    #logo{
                        background-image: url(../assets/img/logo-dark.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 30px;
                        height: 30px;
                        padding: 5px 5px 5px 5px;
                        margin-left: 5px;
                        box-shadow: inset 3px -2px 4px 2px rgba(160, 158, 158, 0.25);
                        border-radius: 50px;
                        cursor: pointer;
                    }
                    #btn{
                                color: $color-1;
                                margin-left: 5px;
                                padding: 1px 1px 1px 1px;
                                top: 20px;
                                box-shadow: inset 1px -2px 2px rgba(0, 0, 0, 0.15), inset -1px 2px 2px rgba(0, 0, 0, 0.15);
                                border: 1px solid #3a3939;
                                border-radius: 10px;
                                
                            }
                                /* &:active{
                                    box-shadow: inset 3px -4px 4px rgba(255, 255, 255, 0.25), inset -3px 4px 4px rgba(247, 247, 247, 0.25);
                                        h2{
                                            font-size:0.7rem;
                                        }
                                } */
                                                  
                                div#digital-clock__time{
                                    font-family: 'Digital-7 Mono', sans-serif;
                                    font-size: 0.7rem; 
                                    font-weight: bold;
                                    margin-right: 10px;
                                }   
                                    #digital-clock__date--day{
                                        margin-left: 0.5px;
                                    }
                                    #switch{
                                        margin-left: 5px;
                                    }
                }
        div #about-me{
            background:linear-gradient(180deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.893) 100%); 
            color: $color-1;
        }
         .bottomNav{
           nav{
            background:$linear-dark-3;
            border: 1px solid black;
                span{
                    color: $color-1;
                }
                p{

                    font-family: $font-1;
                    background:$color-2;
                    color: $color-1;
                    text-align: center;
                    border-radius: 25px;
                    padding: 2px 2px 2px 2px;
                    margin-left: 0px;
                    margin-bottom: 7px;
                    font-family: $font-1;
                    font-size:0.7rem;

                }
                img{
                   filter: brightness(90%); 
                }
                
           }
        } 
        .modal_projets{
     
            .modal_projets--content{
                color: white;
                border: black solid 1px;
                background: linear-gradient(179.94deg, rgba(0, 0, 0, 0.91) 0.05%, rgba(0, 0, 0, 0.92) 99.95%);
                    p{
                        background-color: black;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    }
            }
        }
        .modal_details--content{
            background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.72) 100%);
            border: 1px solid #000000;
            box-sizing: border-box;
            backdrop-filter: blur(7px);
            display: flex;
                .icons {
                        img{
                            justify-content: center;
                            border: 1px solid #000000;
                            box-sizing: border-box;
                            background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.713548) 33.75%, rgba(0, 0, 0, 0.58) 49.48%, rgba(0, 0, 0, 0.69) 100%);
                            box-shadow: 0px 4px 4px rgba(158, 158, 158, 0.25);
    
                        }
                                p{
                                    color: white;
                                    background: linear-gradient(90deg, #000000 3.8%, rgba(0, 0, 0, 0.69) 94.57%);
                                    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
    
                                }
                            }
                        p:hover{
        
                                cursor: pointer;
                                -ms-transform: scale(1.1); /* IE 9 */
                                -webkit-transform: scale(1.1); /* Safari 3-8 */
                                transform: scale(1.1);
                                font-weight: Bold;
                                box-shadow: 0px 4px 4px rgba(158, 158, 158, 0.25);
        
                        }
                        
                }
        .details-projets{
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.41) 0%, rgba(254, 254, 254, 0) 100%);
                    color: white;
                        span{
                            display: flex;
                            flex-direction: column;
                            
                                img{
                                    padding: 2rem 2rem 2rem 2rem;
                                    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
                                }
                        }
                }
        .modal_contact{
            color: white;
            background: linear-gradient(180deg, rgba(5, 5, 5, 0.747) 0%, #303030 100%);
    
                label{
                    color: white;
                }
                
        }
    .games{
        color: white;
        img{
            background:$linear-dark-3;
            border:black 1px solid;
            filter: contrast(90%);
        }
        p{
            background: $linear-dark-1;
        }
       
    }
.modal_design{
    .modal_design--content{
        color: white;
        background: linear-gradient(180deg, rgba(5, 5, 5, 0.747) 0%, #303030 100%)!important;
        border: 1px solid #000000;
    }
}
    
    /* .grid {
        background: rgb(32, 32, 32);
      } */
        }
        
       section.titre{
            h1{
                font-size: 3em !important;
            }
            h2{
                font-size: 2em !important;
            }
        }
}