.modal_details{

    left: 20%;
     top: 25%;
     width: 80%;
     margin: auto;
     z-index: 999;
}


.modal_details--content{
    background: linear-gradient(180deg, #E3E1E1 0%, #D5D0D0 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    display: flex;
    overflow: auto;
    overflow: scroll;
    overflow-x: hidden;
        .icons {
            display: flex;
            flex-direction: column;
            width: 20%;
            align-items: center;
            text-align: center;
            justify-content: center;
            padding-left: 0.5rem;
                span{
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                        img{
                            justify-content: center;
                            text-align: center;
                            padding: 5px 5px 5px 5px;
                            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.713548) 33.75%, rgba(255, 255, 255, 0.58) 49.48%, rgba(255, 255, 255, 0.69) 100%);
                            border: 1px solid #FFFFFF;
                            box-sizing: border-box;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            backdrop-filter: blur(9px);
                            border-radius: 25px;
                            width: 80px;
                            height: 80px;
                        }
                        p{
                            padding: 5px 5px 5px 5px;
                            text-align: center;
                            background: linear-gradient(90deg, #FFFFFF 3.8%, rgba(255, 255, 255, 0.69) 94.57%);
                            filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
                            border-radius: 15px;
                            font-family: 'Source Code Pro';
                        }
                    }
                p:hover{

                        cursor: pointer;
                        -ms-transform: scale(1.1); /* IE 9 */
                        -webkit-transform: scale(1.1); /* Safari 3-8 */
                        transform: scale(1.1);
                        font-weight: Bold;

                }
                
        }
        .details-projets{
            width: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: linear-gradient(180deg, rgba(254, 254, 254, 0.41) 0%, rgba(254, 254, 254, 0) 100%);
            border-radius: 21px;
            margin: 2rem 2rem 2rem 2rem;
                span{
                    display: flex;
                    flex-direction: column;
                    
                        img{
                            padding: 2rem 2rem 2rem 2rem;
                            filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));

                        }
                        h3{
                            font-family: 'Source Code Pro';
                            padding: 1rem 0 0 1rem;
                            font-weight: bold;
                            font-size: 1.5rem;
                        }
                        p{
                            font-family: 'Source Code Pro';
                            padding: 1rem 1rem 0.5rem 1rem;
                        }
                }
        }
}


@media only screen and (min-width : 900px) and (max-width : 1400px) {
    .modal_details{
        left: 0%;
         top: 10%;
         width: 100%;
         margin: auto;
         z-index: 999;
    }
    
    
    .modal_details--content{
        background: linear-gradient(180deg, #E3E1E1 0%, #D5D0D0 100%);
        border: 1px solid #000000;
        box-sizing: border-box;
        display: flex;
       flex-wrap: wrap;
       overflow: auto;
       overflow: scroll;
       overflow-x: hidden;
       height: 80vh;
            .icons {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                text-align: center;
                justify-content: center;
                padding-left: 0.5rem;
                    span{
                        padding: 5px 5px 5px 5px;
                            img{
                                justify-content: center;
                                text-align: center;
                                padding: 2px 2px 2px 2px;
                                background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.713548) 33.75%, rgba(255, 255, 255, 0.58) 49.48%, rgba(255, 255, 255, 0.69) 100%);
                                border: 1px solid #FFFFFF;
                                box-sizing: border-box;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                backdrop-filter: blur(9px);
                                border-radius: 25px;
                                width: 60px!important;
                                height: 60px!important;
                            }
                            p{
                                padding: 2px 2px 2px 2px;
                                font-size:1.5rem!important;
                                text-align: center;
                                background: linear-gradient(90deg, #FFFFFF 3.8%, rgba(255, 255, 255, 0.69) 94.57%);
                                filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
                                border-radius: 15px;
                                font-family: 'Source Code Pro';
                            }
                        }
                    p:hover{
    
                            cursor: pointer;
                            -ms-transform: scale(1.1); /* IE 9 */
                            -webkit-transform: scale(1.1); /* Safari 3-8 */
                            transform: scale(1.1);
                            font-weight: Bold;
    
                    }
                    
            }
            .details-projets{
                width: 80%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                background: linear-gradient(180deg, rgba(254, 254, 254, 0.41) 0%, rgba(254, 254, 254, 0) 100%);
                border-radius: 21px;
                margin: auto;
                    span{
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 1rem;
                        
                            img{
                                height: 300px;
                                padding: 2rem 2rem 2rem 2rem;
                                filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
    
                            }
                            h3{
                                font-family: 'Source Code Pro';
                                padding: 1rem 0 0 1rem;
                                font-weight: bold;
                                font-size: 1.5rem;
                            }
                            p{
                                font-family: 'Source Code Pro';
                                padding: 1rem 1rem 0.5rem 1rem;
                                font-size: 1.5rem;
                            }
                    }
            }
    }
    }





@media only screen and (min-width : 320px) and (max-width : 899px) {


    .modal_details{
        left: 0%;
         top: 1%;
         width: 100%;
         margin: auto;
         z-index: 999;
    }
    
    
    .modal_details--content{
        background: linear-gradient(180deg, #E3E1E1 0%, #D5D0D0 100%);
        border: 1px solid #000000;
        box-sizing: border-box;
        display: flex;
       flex-wrap: wrap;
       overflow: auto!important;
       overflow: scroll!important;
       overflow-x: hidden!important;
       height: 90vh;
            .icons {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                text-align: center;
                justify-content: center;
                padding-left: 0.5rem;
                    span{
                        padding: 5px 5px 5px 5px;
                            img{
                                justify-content: center;
                                text-align: center;
                                padding: 2px 2px 2px 2px;
                                background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.713548) 33.75%, rgba(255, 255, 255, 0.58) 49.48%, rgba(255, 255, 255, 0.69) 100%);
                                border: 1px solid #FFFFFF;
                                box-sizing: border-box;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                backdrop-filter: blur(9px);
                                border-radius: 25px;
                                width: 40px;
                                height: 40px;
                            }
                            p{
                                padding: 2px 2px 2px 2px;
                                font-size: 0.7rem;
                                text-align: center;
                                background: linear-gradient(90deg, #FFFFFF 3.8%, rgba(255, 255, 255, 0.69) 94.57%);
                                filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
                                border-radius: 15px;
                                font-family: 'Source Code Pro';
                            }
                        }
                    p:hover{
    
                            cursor: pointer;
                            -ms-transform: scale(1.1); /* IE 9 */
                            -webkit-transform: scale(1.1); /* Safari 3-8 */
                            transform: scale(1.1);
                            font-weight: Bold;
    
                    }
                    
            }
            .details-projets{
                overflow: auto;
                overflow: scroll;
                overflow-x: hidden;
                width: 80%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                background: linear-gradient(180deg, rgba(254, 254, 254, 0.41) 0%, rgba(254, 254, 254, 0) 100%);
                border-radius: 21px;
                margin: auto;
                    span{
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 1rem;
                        
                            img{
                                height: 200px;
                                padding: 2rem 2rem 2rem 2rem;
                                filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
    
                            }
                            h3{
                                font-family: 'Source Code Pro';
                                padding: 1rem 0 0 1rem;
                                font-weight: bold;
                                font-size: 1rem;
                            }
                            p{
                                font-family: 'Source Code Pro';
                                padding: 1rem 1rem 0.5rem 1rem;
                                font-size: 0.8rem;
                            }
                    }
            }
    }


}